:root {
    --blue: hsl(173, 66, 61);
    --red: hsl(353 66 61);
    --bg: hsl(173 10 90);
    --bg-dark: hsl(168 12 27);
}

body {
    color: black;
    background-color: var(--bg);
}

body {
    padding: 5vw;
    color: var(--text);
    font-family: "Helvetica", Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;

    font-size: clamp(0.6rem, calc(2vw + 0.3rem), 2rem);
}

h1 {
    margin: 0;
    margin-top: 1vw;
    padding: 0;
    font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem);
}

#title {
    text-align: center;
}

/*button {

    background-color: var(--blue);
    padding: 10px;
    border: 2px solid;
    border-radius: 5%;

    &:hover {
        filter: brightness(150%);
    }

}*/
